# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.astro/
.next/
.turbo/
.cache/

# storybook
storybook-static/

# sanity
apps/studio/dist/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# editor
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
*.swp

# coverage + test artefacts
coverage/
playwright-report/
test-results/
.lighthouseci/

# terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/*.tfvars
!infra/terraform/terraform.tfvars.example
infra/terraform/.terraform.tfstate.lock.info
crash.log
crash.*.log
